{% extends 'base.html.twig' %}

{% block title %}Page produits{% endblock %}

{% block body %}
    <h1>Page produits</h1>

    <section>
    {% for product in products %}
        {% set index = loop.index0 %}
        {{ include('product/_product.html.twig') }}
    {% endfor %}
    </section>
{% endblock %}