<aside>
    <nav>
        <ul>
            <li><a href="{{ path('app_default') }}">Accueil</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            <li><a href="{{ path('app_product') }}">Produits</a></li>
        </ul>
    </nav>
</aside>