<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Ajouter un utilisateur</title>
    </head>
    <body>
        <aside>
            <nav>
                <ul>
                    <li><a href="{{ path('app_default') }}">Accueil</a></li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                    <li><a href="{{ path('app_product') }}">Produits</a></li>
                </ul>
            </nav>
        </aside>

        <main>
            <h1>Ajouter un utilisateur</h1>
            <form method="POST" action="{{ path('app_user_create') }}">
                <label for="firstname">Prénom</label>
                <input type="text" name="firstname" id="firstname" />

                <label for="lastname">Nom</label>
                <input type="text" name="lastname" id="lastname" />
                
                <label for="age">Age</label>
                <input type="number" step="1" name="age" id="age" required />

                <label for="birthDate">Date de naissance</label>
                <input type="date" name="birthDate" id="birthDate" />

                <input type="submit" value="Créer l'utilisateur" />
            </form>
        </main>
    </body>
</html>